<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.8.0.min.js"></script>
        <script type="text/javascript">
            $(document).ready(
					function() {
						var topDiv = document.getElementById('#top');
						var bottomDiv = document.getElementById('#bottom');
                        ssEvent = new EventSource('/stream');
						ssEvent.onmessage = function(message) {
							if (message.data.indexOf("UP") > -1) {
								topDiv.scrollIntoView();
							} else if (message.data.indexOf("BOTTOM") > -1) {
								bottomDiv.scrollIntoView();
							}
                        }
					}
			);

        </script>
    </head>
	<body>
		<div id="#top">Top.</div>
		<br><br><br><br><br><br><br>
		<br><br><br><br><br><br><br>
		<br><br><br><br><br><br><br>
		<br><br><br><br><br><br><br>
		<br><br><br><br><br><br><br>
		<br><br><br><br><br><br><br>
		<br><br><br><br><br><br><br>
		<div id="#bottom">Bottom.</div>
    </body>
</html>
